# PORT=5000
# NODE_ENV=development
# CORS_ORIGIN=http://localhost:5173
# CLIENT_URL=http://localhost:5173

# MONGO_URI=mongodb://127.0.0.1:27017/zenvora
# DB_NAME=zenvora

# JWT_SECRET=change-this-secret
# JWT_EXPIRES_IN=7d

# EMAIL_SERVICE=gmail
# EMAIL_USER=your-email@gmail.com
# EMAIL_PASSWORD=your-gmail-app-password
# EMAIL_FROM=your-email@gmail.com
# ADMIN_EMAIL=your-email@gmail.com

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# MICROSOFT_CLIENT_ID=
# MICROSOFT_CLIENT_SECRET=
# MICROSOFT_CALLBACK_URL=http://localhost:5000/api/auth/microsoft/callback

# PORT=5000
# NODE_ENV=development
# SERVER_URL=http://localhost:5000
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000
# MONGO_URI=mongodb://admin:admin123@ac-ocb8fue-shard-00-00.0nruzrw.mongodb.net:27017,ac-ocb8fue-shard-00-01.0nruzrw.mongodb.net:27017,ac-ocb8fue-shard-00-02.0nruzrw.mongodb.net:27017/?ssl=true&replicaSet=atlas-yt8v1z-shard-0&authSource=admin&appName=Cluster1
# DB_NAME=zenvora
# JWT_SECRET=ABC1234
# JWT_EXPIRES_IN=7d
# CLIENT_URL=http://localhost:5173
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your@gmail.com
# SMTP_PASS=your_app_password
# MAIL_FROM=noreply@zenvorainfo.com
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
# MICROSOFT_CLIENT_ID=
# MICROSOFT_CLIENT_SECRET=
# MICROSOFT_CALLBACK_URL=http://localhost:5000/api/auth/microsoft/callback
# GOOGLE_CLIENT_ID=957539454239-vepaac1bpr0sf5u4opbh1qu2g329ukbh.apps.googleusercontent.com






# SERVER
PORT=5000
NODE_ENV=development
SERVER_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173

# CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost:3001

# DATABASE
MONGO_URI=mongodb://admin:admin123@ac-ocb8fue-shard-00-00.0nruzrw.mongodb.net:27017,ac-ocb8fue-shard-00-01.0nruzrw.mongodb.net:27017,ac-ocb8fue-shard-00-02.0nruzrw.mongodb.net:27017/?ssl=true&replicaSet=atlas-yt8v1z-shard-0&authSource=admin&appName=Cluster1
DB_NAME=zenvora

# AUTH
JWT_SECRET=ABC1234
JWT_EXPIRES_IN=7d

# GOOGLE AUTH (IMPORTANT)
GOOGLE_CLIENT_ID=957539454239-vepaac1bpr0sf5u4opbh1qu2g329ukbh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_NEW_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# MICROSOFT AUTH
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_CALLBACK_URL=http://localhost:5000/api/auth/microsoft/callback

# EMAIL (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
MAIL_FROM=noreply@zenvorainfo.com


SMTP_USER=yourrealgmail@gmail.com
SMTP_PASS=your_app_password


